/* Phở */

/* body {
    background-color: #91091e;
    background-color: #da723c;
    background-color: #c39e5c;
    background-color: #fdf1d6;

    font-family: 'Permanent Marker', cursive;
    font-family: 'Righteous', cursive;
} */


/* 
b	o	ô	ơ	a	â	ă	ê	e	u	ư	i	y	r	l	c
d	ó	ồ	ớ	á	ấ	ắ	ề	é	ụ	ứ	í	ý	n	h	s
đ	ò	ộ	ờ	à	ầ	ằ	ế	è	ú	ừ	ì	ỳ	m	t	x
g	õ	ổ	ở	ã	ẫ	ẵ	ễ	ẽ	ũ	ữ	ĩ	ỷ	v	k	
p	ỏ	ỗ	ợ	ả	ẩ	ẳ	ể	ẻ	ủ 	ử	ỉ	ỹ	₫		
q	ọ	ố	ỡ	ạ	ậ	ặ	ệ	ẹ	ù	ự	ị	ỵ	 
 A a, Ă ă, Â â, E e, Ê ê, I i, O o, Ô ô, Ơ ơ, U u, Ư ư, Y y
 Á á, Ắ ắ, Ấ ấ, É é, Ế ế, Í í, Ó ó, Ố ố, Ớ ớ, Ú ú, Ứ ứ, Ý ý
 À à, Ằ ằ, Ầ ầ, È è, Ề ề, Ì ì, Ò ò, Ồ ồ, Ờ ờ, Ù ù, Ừ ừ, Ỳ ỳ
 Ả ả, Ẳ ẳ, Ẩ ẩ, Ẻ ẻ, Ể ể, Ỉ ỉ, Ỏ ỏ, Ổ ổ, Ở ở, Ủ ủ, Ử ử, Ỷ ỷ
 Ã ã, Ẵ ẵ, Ẫ ẫ, Ẽ ẽ, Ễ ễ, Ĩ ĩ, Õ õ, Ỗ ỗ, Ỡ ỡ, Ũ ũ, Ữ ữ, Ỹ ỹ
 Ạ ạ, Ặ ặ, Ậ ậ, Ẹ ẹ, Ệ ệ, Ị ị, Ọ ọ, Ộ ộ, Ợ ợ, Ụ ụ, Ự ự, Ỵ ỵ
*/

.container {
    width: 100vw;
}

li,  a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    background-color: #c39e5c;
}

.nav-logo {
    padding: 5px;
    width: 8vw;
}

.nav-logo > a > img {
    width: 100%;
    height: auto;
}

.nav-item {
    width: 50vw;
} 

.nav-item > ul {
    display: flex;
    flex-direction: row;
    font-size: large;
}

.nav-link {
    width: 15vw;
}

@media (max-width: 600px) {
    #nav-bar {
        margin-top: -10px;
        width: 100vw;
        flex-direction: column;
        position: relative;       
    }
    
    .nav-logo {
        padding: 5px;
        width: 25vw;
    }

    .nav-item > ul {
        flex-direction: column;
        font-size: x-large;
    }

    .nav-link {
        margin: 5px 0;
        width: 35vw;
        text-align: center;
    }
}

.top {
    position: relative;
    z-index: 0;
    background-color: #91091e;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15vw;
}

.text-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5vw;
}

.first {
    
    position: relative;
    margin-bottom: 0;
}

.second {
  
    position: relative;
    padding-top: 0;
}

.first > h1 {
    margin-bottom: 0;
    color: #da723c;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    font-size: 2vw;
}

.second > h1 {
    margin-top: 0;
    color: #fdf1d6;
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.main-img > img {
    padding: 7vw;
    width: 30vw;
}

@media (max-width: 600px) {
    .top {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin-top: 0;
    }

    .text-one {
        margin-top: 2vw;
        
        margin-left: 0;
        margin-bottom: 4vh;
    }

    .first > h1 {
        font-size: x-large;
    }

    .second > h1 {
        font-size: xx-large;
    }

    .main-img {
        
        padding: 0;
        width: 60vw;
    }

    .main-img > img {
        padding: 0;
        width: 60vw;
    }
}

.info {
    background-color: #da723c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info > div {
    text-align: center;
}

.menu-section {
    width: 100%;
    background-color: #fdf1d6;
    padding-bottom: 4vh;
}

.first-menu {
    padding-top: 20vh;
}

@media (max-width: 600px) {
    .first-menu {
        padding-top: 0;
    }
}

fieldset {
    position: relative;
    left: 3vw;
    width: 92vw;
}

@media (max-width: 600px) {
    fieldset {
        width: 87vw;
    }
}

.menu-items {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 246, 242);
    /* background-color: white; */
    color: black;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item > div > ul > li, 
.menu-item > div > ul > ul > li {
    color: black;
}

#menu > .menu-items > .menu-item > div > ul {
    width: 60vw;
    padding-left: 0;
}

.menu-item > div > ul > li {
    font-weight: 900;
    font-size: large;
}

.menu-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pho-price {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25vw;
}

@media (max-width: 600px) {
    .menu-item > div > ul {
        padding-left: 0;
    }

    .menu-item > div > ul > li {
        font-weight: 400;
        font-size: large;
    }

    .pho-explain {
        font-size: medium;
        font-weight: 500;
    }

    .pho-price {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;
    }
}

.price > h3 {
    text-align: end;
}

.outer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .outer {
        flex-direction: column;
    }

    .price > h3 {
        font-size: medium;
    }

    .bottom > .menu-item > .price {
        width: 30vw;
        font-size: medium;
    }
}

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: -10px;
}

.foot-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}